body {
    margin: 0px;
}

p {
    margin: 0px;
}

header {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 120px;
}

.logo {
    font-family: "Integral CF";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #3d00b7;
}

nav {
    display: flex;
    align-items: center;
}

.nav-vl {
    border: 0.5px solid #f4f4f4;
    transform: rotate(90deg);
    width: 47px;
    height: 0px;
}

.sub-nav {
    display: flex;
    gap: 47px;
}

.nav-link {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-decoration: none;
    color: #000000;
}

.actions {
    display: flex;
    gap: 20px;
}

.nav-input {
    width: 300px;
    height: 50px;
    background: #ffffff;
    border: 2px solid #efefef;
    border-radius: 100px;
    padding: 15px 30px;
    box-sizing: border-box;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: #c0c0c0;
}

.nav-input::placeholder {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: #c0c0c0;
}

.nav-upload-btn {
    width: 131px;
    height: 50px;
    background: #3d00b7;
    border-radius: 60px;
    border: 0px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.nav-connect-btn {
    width: 156px;
    height: 50px;
    border: 2px solid #3d00b7;
    border-radius: 60px;
    background-color: #ffffff;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #3d00b7;
}

.header-hl {
    border: 0.5px solid #efefef;
    margin: 0px;
}

.hero {
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
    margin-top: 57px;
}

.hero-info {
    width: 612px;
}

.hero-title {
    width: 612px;

    font-family: "Integral CF";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.05em;
}

.hero-subtitle {
    width: 471px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;

    color: #565656;

    margin-bottom: 41px;
}

.hero-btn {
    width: 209px;
    height: 65px;
    background: #3d00b7;
    border-radius: 60px;
    border: 0px;

    font-family: "Averta Demo PE Cutted Demo";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.065em;

    color: #ffffff;
}

.hero-stats {
    display: flex;
    gap: 23px;
    margin-top: 30px;
}

.stat-title {
    font-family: "Integral CF";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.05em;
    margin: 0px;
}

.stat-subtitle {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #565656;
}

.amaze-nft-block {
    background: rgba(217, 224, 236, 0.2);
    backdrop-filter: blur(50px);
    padding: 0px 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 122px;
}

.amaze-nft-title {
    width: 398px;

    font-family: "Integral CF";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.amaze-nft-info-block {
    display: flex;
    margin-top: 122px;
    margin-bottom: 97px;
    gap: 56px;
}

.amaze-nft-info-sub-block {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.amaze-nft-info-title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    margin-top: 5px;
    margin-bottom: 12px;
}

.amaze-nft-info-subtitle-1 {
    width: 249px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #696969;
}

.amaze-nft-info-subtitle-2 {
    width: 311px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #696969;
}

.coll-over-block {
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
    padding-top: 134px;
    padding-bottom: 151px;
}

.coll-over-nfts-block {
    display: flex;
}

.big-nft-info-block {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.big-nft-info-name-sub-block {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.big-nft-info-title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    margin-top: 0px;
    margin-bottom: 4px;
}

.big-nft-info-subtitle {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #363639;
}

.big-nft-info-bid-title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #3a3a3a;

    margin-top: 0px;
    margin-bottom: 7px;
}

.big-nft-info-bid-price-block {
    display: flex;
    align-items: center;
}

.big-nft-info-bid-price-icon {
    width: 12.35px;
    height: 21.33px;
    fill: currentColor;
    color: #3a3a3a;
}

.big-nft-info-bid-price {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #3a3a3a;

    margin-left: 10px;
}

.coll-over-small-nfts-block {
    margin-left: 53px;
}

.small-nft-sub-block {
    display: flex;
    align-items: center;
    margin-bottom: 41px;
}

.small-nft-info-block {
    margin-left: 20px;
}

.small-nft-info-title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    margin-top: 0px;
    margin-bottom: 8px;
}

.small-nft-info-price-block {
    display: flex;
    align-items: center;
}

.small-nft-info-price-sub-block {
    display: flex;
    align-items: center;
}

.small-nft-info-price-sub-block {
    border: 1.5 px solid #00ac4f;
    border-radius: 6px;
    padding: 8px;
    gap: 5px;

    margin-left: 8px;
}

.small-nft-info-price-icon {
    width: 8.1px;
    height: 14px;
    fill: currentColor;
    color: #00ac4f;
}

.small-nft-info-price-text {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #00ac4f;
}

.small-nft-info-price-sub-text {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #757575;

    margin-left: 10px;
}

.small-nft-info-bid-btn {
    width: 113px;
    height: 45px;
    background: #ffffff;
    border-radius: 50px;
    margin-top: 15px;
    border: 0px;
    color: #ffffff;

    font-family: "Averta Demo PE Cutted Demo";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.snib-colored-btn {
    background: #3d00b7;
}

.snib-uncolored-btn {
    background: #ffffff;
    color: #220970;
    border: 2px solid #3d00b7;
}

.top-colls-over-block {
    padding-left: 38px;
    border-left: 1px solid #ececec;
    margin-left: 52px;
}

.top-colls-over-title {
    font-family: "Integral CF";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    margin-top: 0px;
    margin-bottom: 10px;
}

.top-colls-over-subtitle {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #3d00b7;
    margin-bottom: 28px;
}

.one-top-coll-over-block {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.one-top-coll-over-sub-block {
    display: flex;
    align-items: center;
}

.one-top-coll-over-place {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 103%;
    letter-spacing: -0.025em;

    width: 16px;
    text-align: center;
}
.one-top-coll-over-avatar-block {
    position: relative;
    margin-left: 19px;
}

.one-top-coll-over-avatar-sub-image {
    position: absolute;
    top: -6px;
    right: -6px;
}

.one-top-coll-over-info-block {
    margin-left: 23px;
}

.one-top-coll-over-info-title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 103%;
    letter-spacing: -0.025em;
}

.one-top-coll-over-info-sub-block {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.one-top-coll-over-info-price-icon {
    width: 14.25px;
    height: 24px;
    fill: currentColor;
    color: #000000;
}

.one-top-coll-over-info-price-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 103%;
    letter-spacing: -0.025em;
    color: #636363;

    margin-left: 6px;
}

.one-top-coll-over-info-percent {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 103%;
    text-align: right;
    letter-spacing: -0.025em;

    margin-left: 25px;
}

.otcoi-percent-green {
    color: #14c8b0;
}

.otcoi-percent-red {
    color: #ff002e;
}

.otco-hl {
    border-bottom: 1px solid #f0f0f0;
}

.colls-nft-block {
    background: rgba(217, 224, 236, 0.2);
    backdrop-filter: blur(50px);
    padding: 65px 120px 99px 120px;
}

.coll-nft-blocks {
    display: flex;
    justify-content: space-between;
    gap: 31px;
}

.colls-nft-title {
    font-family: "Integral CF";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;

    margin-top: 0px;
    margin-bottom: 55px;
}

.coll-nft-image-block {
    display: flex;
    gap: 9px;
}

.coll-nft-small-images-block {
    display: flex;
    flex-direction: column;
    gap: 8.25px;
}

.coll-nft-info-title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    margin-top: 29.35px;
    margin-bottom: 10.4px;
}

.coll-nft-info-sub-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coll-nft-info-author-block {
    display: flex;
    align-items: center;
}

.coll-nft-info-author-name {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    margin-left: 10px;
}

.coll-nft-info-total-items-btn {
    width: 98px;
    height: 29px;
    border: 1px solid #2639ed;
    border-radius: 60px;
    background: #ffffff;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 11.0008px;
    line-height: 14px;
    color: #2639ed;
}

.sign-up-nft-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 102px 120px 82px 120px;
}

.sign-up-nft-images-block {
    position: relative;
    width: 650.98px;
    height: 606px;
}

#sign-up-nft-image-sub-block-1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

#sign-up-nft-image-sub-block-2 {
    position: absolute;
    top: 138px;
    left: 364px;
}

#sign-up-nft-image-sub-block-3 {
    position: absolute;
    top: 352px;
    left: 105px;
}

#sign-up-nft-sub-image-1 {
    position: absolute;
    right: -28px;
    bottom: -34px;
}

#sign-up-nft-sub-image-2 {
    position: absolute;
    right: -36px;
    bottom: -20px;
}

#sign-up-nft-sub-image-3 {
    position: absolute;
    right: -40.45px;
    bottom: -40px;
}

.sing-up-nft-title {
    width: 320px;
    margin-bottom: 40px;

    font-family: "Integral CF";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.sing-up-nft-subtitle {
    width: 517px;
    margin-bottom: 32px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #636363;
}

.sing-up-nft-btn {
    padding: 20px 40px;
    background: #3d00b7;
    border-radius: 50px;
    border: 0px;

    font-family: "Averta Demo PE Cutted Demo";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.065em;
    color: #ffffff;
}

.discover-nft-block {
    padding: 0px 120px;
    background: rgba(217, 224, 236, 0.2);
    backdrop-filter: blur(50px);
}

.discover-nft-title {
    font-family: "Integral CF";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
}

.discover-nft-nav {
    display: flex;
    justify-content: space-between;
}

.discover-nft-nav-sort-block {
    display: flex;
    gap: 12px;
}

.discover-nft-nav-colored-btn {
    background: #3d00b7;
    border-radius: 100px;
    padding: 10px 20px;
    border: 0px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.discover-nft-nav-uncolored-btn {
    background: rgba(220, 220, 220, 0.2);
    border-radius: 100px;
    padding: 10px 20px;
    border: 0px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.discover-nft-nav-filter-btn {
    background: rgba(220, 220, 220, 0.2);
    border-radius: 100px;
    padding: 10px 20px;
    border: 0px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #371c87;

    display: flex;
}

.discover-nft-nav-filter-btn-text {
    margin-left: 10px;
}

.discover-nft-cards-block {
    padding-top: 40px;
    padding-bottom: 55px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.discover-nft-cards-row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.discover-nft-card {
    background: #ffffff;
    border: 1.09706px solid rgba(242, 242, 242, 0.5);
    border-radius: 13.1647px;

    padding: 11px;
    width: 273px;
    box-sizing: border-box;
}

.discover-nft-card-info-block {
    padding: 0px 12px;
}

.discover-nft-card-info-main-block {
    padding-bottom: 17px;
    margin-bottom: 10.8px;
}

.discover-nft-card-info-title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 19.7471px;
    line-height: 19px;

    margin-top: 22px;
    margin-bottom: 10.7px;
}

.discover-nft-card-info-main-price-block {
    display: flex;
    justify-content: space-between;
}

.discover-nft-card-info-main-price-sub-block {
    display: flex;
    gap: 6px;
    align-items: center;
}

.discover-nft-card-info-price-icon {
    width: 8.89px;
    height: 15.36px;
    fill: currentColor;
    color: #00ac4f;
}

.discover-nft-card-info-price-text {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 10.9706px;
    line-height: 14px;

    color: #00ac4f;
}

.discover-nft-card-info-price-sub-text {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 13.1647px;
    line-height: 19px;
    color: #838383;
}

.b-hl {
    border-bottom: 2px solid #f4f4f4;
}

.discover-nft-card-info-bid-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discover-nft-card-info-time-left-btn {
    background: #f5f5f5;
    border-radius: 109.7px;
    padding: 4.39px 10.98px;
    border: 0px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 10.9706px;
    line-height: 19px;
    color: #5539a8;
}

.discover-nft-card-info-bid-text {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 15.3588px;
    line-height: 20px;
    color: #4f33a3;
}

.discover-nft-bottom-block {
    display: flex;
    justify-content: center;
    padding-bottom: 47px;
}

.discover-nft-bottom-btn {
    border: 2px solid #3d00b7;
    border-radius: 50px;
    padding: 20px 40px;
    background: #ffffff;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #4f33a3;
}

footer {
    padding: 0px 120px;
}

.footer-main-block {
    padding-top: 79px;
    padding-bottom: 69px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 96px;
}

.footer-main-logo {
    font-family: "Integral CF";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    margin-top: 0px;
    margin-bottom: 27px;
}

.footer-main-text-type-1 {
    width: 333px;
    font-family: "Averta Demo PE Cutted Demo";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #565656;
    margin-bottom: 32px;
}

.footer-main-links {
    display: flex;
    gap: 16px;
}

.footer-main-link {
    text-decoration: none;
}

.footer-main-title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;

    margin-top: 0px;
    margin-bottom: 24px;
}

.footer-main-text-type-2 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 200%;
    color: #3d3d3d;
}

.footer-main-text-type-3 {
    width: 362px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #363639;
}

.footer-main-input-email {
    width: 364px;
    height: 60.79px;
    background: #ffffff;
    border: 2px solid #f1f1f1;
    border-radius: 45.595px;
    padding-left: 26px;
    box-sizing: border-box;

    margin-top: 24px;
}

.footer-main-input-email::placeholder {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12.1587px;
    line-height: 16px;
    color: #959595;
}

.footer-main-input-submit {
    margin-left: -160px;
    padding: 15.2px 30.4px;
    background: #2639ed;
    border-radius: 45.595px;
    border: 0px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12.1587px;
    line-height: 16px;
    letter-spacing: 0.065em;
    color: #ffffff;
}

.footer-copyright-block {
    display: flex;
    justify-content: center;

    padding-top: 15px;
    padding-bottom: 24px;
}

.footer-copyright-text {
    font-family: "Averta Demo PE Cutted Demo";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #a4a4a4;
}

.t-hl {
    border-top: 2px solid #f4f4f4;
}
